Firmware/ADFirmware/CM7/Debug/*
Firmware/ADFirmware/CM4/Debug/*
Firmware/ADFirmware/.settings*
Firmware/ConfProject/CM7/Debug/*
Firmware/ConfProject/CM4/Debug/*
Firmware/ConfProject/.settings*
GUI/build*