Firmware/ADFirmware/CM7/Debug/*
Firmware/ADFirmware/CM4/Debug/*
Firmware/ADFirmware/CM4/.settings*
Firmware/ADFirmware/CM7/.settings*
Firmware/ConfProject/CM7/Debug/*
Firmware/ConfProject/CM4/Debug/*
Firmware/ConfProject/.settings*
GUI/build*
GUI/OpenEPT/.pro*